<section>
    <h1>{$title}</h1>
    
    <section>
        <h2>Основна інформація:</h2>
        <p><strong>Ім'я:</strong> {$myName|noescape}</p>
        <p><strong>Університет:</strong> {$myUni|noescape}</p>
        <p><strong>Група:</strong> {$myGroup|noescape}</p>
    </section>

    <section>
        <h2>Мої навички:</h2>
        <ul>
            {foreach $skills as $skill}
                <li>{$skill|noescape}</li>
            {/foreach}
        </ul>
    </section>
</section>

