{extends 'layout.latte'}
{block content}
    <h1>Реєстрація</h1>
    <form method="POST" action="">
        <label>Ім'я: <input type="text" name="username" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Пароль: <input type="password" name="password" required></label><br>
        <button type="submit">Зареєструватися</button>
    </form>
{/block}